* {
    box-sizing: border-box;
}

button {
    background-color: rgb(254, 142, 20);
    border: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.tc {
    text-align: center;
}

.mt20 {
    margin-top: 20px !important;
}

.mt60 {
    margin-top: 60px !important;
}

select,
button {
    outline: none !important;
}

p {
    margin-bottom: 0;
}


.trial a,
a:active {
    color: #fe8e14 !important;
}

.browserFiles {
    height: 500px;
    border: 2px dotted #CCCCCC;
    background-color: #F5F5F5;
    margin: 0 auto;
    margin-bottom: 140px;
    width: 80%;
}

.browserFiles .icon {
    margin-top: 75px;
}

.browserFiles h1 {
    font-size: 60px;
    margin-top: 28px;
}

.browserFiles p {
    margin-top: 24px;
}

.browserFiles .browserBtn {
    margin-top: 57px;
    width: 300px !important;
    height: 70px;
    font-size: 30px;
    outline: none;
}


#dwtContainer {
    display: none;
}

.dwtDesktop {
    height: 500px;
    margin-bottom: 140px;
    padding: 0 0;
    display: flex;
    justify-content: center;
}

.dwtDesktop .actions {
    height: 100%;
    width: 90px;
    background-color: #444444;
    margin-right: 15px;
}

.dwtDesktop .actions .upload {
    position: relative;
    height: 50%;
}

.dwtDesktop .actions .remove {
    position: relative;
    height: 50%;
}

.dwtDesktop .actions .upload,
.remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dwtDesktop .actions img {
    cursor: pointer;
}

.dwtDesktop p {
    color: white;
}

.dwtDesktop .imgContainer {
    height: 100%;
    width: 550px;
}

.dwtDesktop .dvs-thumbLists {
    background-color: #F5F5F5 !important;
    border: 1px dotted #AAAAAA;
}

.dwtDesktop .dvs-thumbLists li {
    width: 300px !important;
    height: 380px !important;
    position: relative !important;
    margin: 27px auto !important;
    margin-bottom: 0 !important;
    background-color: white !important;
    border: 4px solid white !important;
}

.dwtDesktop .dvs-thumbLists li.dvs-activeThumb {
    border: 4px solid #FE8E14 !important;
}

.dwtDesktop .dvs-thumbLists li:nth-child(1) {
    margin-top: 37px !important;
}

.dwtDesktop .options {
    margin-left: 13px;
    width: 971px;
    padding: 62px 120px 128px 120px;
    height: 100%;
    background-color: #EDEDED;
}

.dwtDesktop .formats {
    height: 65px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
}

.dwtDesktop .formats p {
    font-size: 24px;
    color: #323234;
    font-family: Oswald-Regular;
    margin-right: 27.5px;
}

.dwtDesktop .formats ul {
    display: flex;
}

.dwtDesktop .formats ul li {
    display: block;
    position: relative;
    width: 72px;
    height: 100%;
    font-size: 18px;
    margin-left: 41px;
    cursor: pointer;
}

.dwtDesktop .formats ul li:nth-child(1) {
    margin-left: 0;
}

.dwtDesktop .formats ul label {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
}


.dwtDesktop .formats ul li .circle {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 8%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #707070;
    background-color: white;
    cursor: pointer;
}

.dwtDesktop .formats ul li.checked {
    border-bottom: 2px solid #FE8E14;
}

.dwtDesktop .formats ul li.checked label {
    color: #FE8E14;
}

.dwtDesktop .formats ul li.checked .circle {
    border: 1px solid #FE8E14;
}

.dwtDesktop .formats ul li.checked .circle::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #FE8E14;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 14px;
    height: 14px;
}

.dwtDesktop .pdfSetting {
    /*display: none;*/
    display: flex;
    flex-wrap: wrap;
}

.dwtDesktop .pdfSetting div {
    display: flex;
    align-items: center;
}

.dwtDesktop .pdfSetting div p {
    color: #606060;
    font-size: 18px;
    margin-bottom: 0;
}

.dwtDesktop .pdfSetting div input {
    width: 220px;
    height: 35px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    outline: none;
    padding-left: 11px;
    margin-left: 10px;
}

.dwtDesktop .pdfSetting div select {
    height: 34px;
    padding-left: 11px;
    font-size: 16px;
    color: #888888;
    border-color: #CCCCCC;
}

.dwtDesktop .pdfSetting div:nth-child(1) select {
    width: 220px;
    margin-left: 10px;
}

.dwtDesktop .pdfSetting div:nth-child(2) {
    margin-left: 20px;
}

.dwtDesktop .pdfSetting div:nth-child(3) {
    margin-top: 22px;
}

.dwtDesktop .pdfSetting div:nth-child(3) select {
    margin-left: 14px;
}


.noSetting {
    display: none;
    height: 91px;
}


.dwtDesktop .jpegSetting {
    display: none;
    font-family: Oswald-Regular;
    height: 91px;
}

.dwtDesktop .jpegSetting div {
    display: flex;
    line-height: 40px;
}

.dwtDesktop .jpegSetting div input {
    margin-left: 20px;
    margin-right: 10px;
}

.dwtDesktop .jpegSetting p {
    color: rgb(96, 96, 96);
}

.dwtDesktop .tiffSetting {
    display: none;
    height: 91px;
}

.dwtDesktop .tiffSetting div {
    display: flex;
    align-items: center;
}

.dwtDesktop .tiffSetting div p {
    color: #606060;
    font-size: 18px;
    font-family: Oswald-Regular;
    margin-bottom: 0;
}

.dwtDesktop .tiffSetting div select {
    height: 34px;
    padding-left: 11px;
    width: 200px;
    font-size: 16px;
    color: #888888;
    border-color: #CCCCCC;
    margin-left: 10px;
}


.dwtDesktop .convertBtn {
    width: 300px;
    height: 70px;
    outline: none;
    font-size: 25px;
    margin-top: 65px;
}


.dwtm {
    margin-bottom: 60px;
    padding: 0 0;
}

.dwtm button{
    padding: 20px;
}

.dwtm .actions {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #323234;
    color: white;
    padding: 0 28px;
}

.dwtm .actions p {
    display: none;
}

.dwtm .actions .upload,
.remove {
    display: flex;
    align-items: center;
}

.dwtm .imgContainer {
    height: 280px;
}

.dwtm .dvs-thumbLists {
    display: block !important;
    white-space: nowrap;
    overflow: auto !important;
    background-color: #F5F5F5 !important;
}

.dwtm .dvs-thumbLists li {
    display: inline-block;
    width: 170px !important;
    height: 215px !important;
    position: relative !important;
    margin: 28px 0 0 28px !important;
    background-color: white !important;
    border: 4px solid white !important;
}

.dwtm .dvs-thumbLists li.dvs-activeThumb {
    border: 4px solid #FE8E14 !important;
}

.dwtm .options {
    background-color: #EDEDED;
    height: 540px;
}

.dwtm .formats {
    border-bottom: 1px solid #CCCCCC;
    padding: 34px 30px 0 30px;
}

.dwtm .formats p {
    font-size: 20px;
    font-family: Oswald-Regular;
}

.dwtm .formats ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.dwtm .formats ul li {
    font-size: 16px;
    width: 33.33%;
    margin-bottom: 22px;
}

.dwtm .formats ul li .circle {
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #707070;
    margin-right: 13px;
    cursor: pointer;
}

.dwtm .formats ul li.checked .circle {
    border: 1px solid #FE8E14;
}

.dwtm .formats ul li.checked label {
    color: #FE8E14;
}

.dwtm .formats ul li.checked .circle::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #FE8E14;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 14px;
    height: 14px;
}



.dwtm .pdfSetting {
    background-color: #EDEDED;
    padding: 39.5px 0 0 0;
    display: flex;
    /*display: none;*/
    flex-direction: column;
}

.dwtm .pdfSetting div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.dwtm .pdfSetting div p {
    color: #606060;
    font-size: 18px;
    font-family: Oswald-Regular;
    margin-bottom: 0;
}

.dwtm .pdfSetting div select {
    height: 34px;
    padding-left: 11px;
    width: 200px;
    font-size: 16px;
    color: #888888;
    border-color: #CCCCCC;
    margin-left: 10px;
}

.dwtm .pdfSetting div:nth-child(1) select {
    margin-left: 12px;
    width: 190px;
    height: 34px;
}

.dwtm .pdfSetting div:nth-child(2) {
    order: 3;
}

.dwtm .pdfSetting div:nth-child(2) input {
    margin-left: 24px;
    width: 243px;
    height: 34px;
    outline: none;
}

.dwtm .pdfSetting div:nth-child(3) select {
    margin-left: 21px;
    width: 227px;
    height: 34px;
}

.dwtm .options {
    display: flex;
    flex-direction: column;
}

.dwtm .options button {
    margin-top: 30px;
    align-self: center;
}

.dwtm .noSetting {
    margin: 20px 0 54.5px 0;
}

.dwtm .jpegSetting {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 54.5px;
}

.dwtm .jpegSetting div {
    display: flex;
}

.dwtm .jpegSetting p {
    font-size: 16px;
    font-family: Oswald-Regular;
}

.dwtm .jpegSetting input {
    margin: 0 10px 0 20px;
}



.dwtm .tiffSetting {
    display: none;
    justify-content: center;
    margin-bottom: 54.5px;
}

.dwtm .tiffSetting div {
    display: flex;
    align-items: center;
}

.dwtm .tiffSetting div p {
    color: #606060;
    font-size: 18px;
    font-family: Oswald-Regular;
    margin-bottom: 0;
}

.dwtm .tiffSetting div select {
    height: 34px;
    padding-left: 11px;
    width: 200px;
    font-size: 16px;
    color: #888888;
    border-color: #CCCCCC;
    margin-left: 10px;
}




@media screen and (max-width: 1679px) {

    .dwtDesktop .actions {
        width: 100px;
    }

    .dwtDesktop .imgContainer {
        width: 300px;
    }

    .dwtDesktop .options {
        padding: 60px;
        width: 712px;
    }

    .dwtDesktop .formats p {
        font-size: 16px;
    }

    .dwtDesktop .formats label {
        font-size: 14px;
    }

    .dwtDesktop .formats ul li:not(:nth-child(1)) {
        margin-left: 20px;
    }

    .dwtDesktop .formats ul li {
        width: 64px;
    }

    .dwtDesktop .formats ul li .circle {
        top: 0;
    }

    .dwtDesktop .pdfSetting {
        flex-direction: column;
    }

    .dwtDesktop .pdfSetting div:nth-child(2) {
        margin-left: 0;
        margin-top: 22px;
    }

    .dwtDesktop .convertBtn {
        font-size: 16px;
        width: 240px;
        line-height: 50px;
        height: 50px;
    }

    .noSetting,
    .jpegSetting,
    .tiffSetting {
        height: 147px !important;
    }
}

@media screen and (max-width: 1199px) {


    .dwtDesktop .actions {
        width: 80px;
    }

    .dwtDesktop .options {
        width: 552px;
        padding: 60px 20px 0 20px;
    }
}

@media screen and (max-width: 991px) {
    .browserFiles {
        margin-top: 0;
    }

    #dwtContainer {
        margin-top: 0;
    }

}

@media screen and (max-width: 767px) {

    .browserFiles h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 572px) {}